<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="import" href="personalities/{{letter1}}{{letter2}}{{letter3}}{{letter4}}.html">

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link  href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css" >
	<link  href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css" >
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta charset="UTF-8">
	<title>PersonalityBookClub</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<a href="/" class="navbutton">
					<img src="/img/bookLogo.jpeg" alt="Book Logo" width="80" height="40">
					<img src="/img/mypersonalitytest.jpg" alt="My Personailty Test Logo" width="80" height="40">
				</a>
			</div>
			<div class="col-sm-5">
				<p> </p>
			</div>
			<div class="col-sm-1">
				<a href="/users/login">
					<h4>Log In</h4>
				</a>
			</div>
			<div class="col-sm-1">
				<a href="/users/new">
					<h4>Sign Up</h4>
				</a>
			</div>
		</div>
	</div>
	
	<div class="container navbar">
		<div class="row">
			<div class="col-sm-3 navmenu">
				<a href="/form" class="navbutton"><h3>Take the test</h3></a>
			</div>
			<div class="col-sm-3 navmenu">
				<a href="/personalities" class="navbutton"><span><h3>Personality types</h3></span></a>
			</div>
			<div class="col-sm-3 navmenu">
				<h3>Members</h3>
			</div>
			<div class="col-sm-3 navmenu">
				<h3>Books</h3>
			</div>
		</div>
	</div>
	<br><br>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<img src="img/{{letter1}}{{letter2}}{{letter3}}{{letter4}}.png" alt="{{letter1}}{{letter2}}{{letter3}}{{letter4}}" width="300" height="300">
			</div>
			<div class="col-sm-6 resultscontent">
				<h2>You have completed the personality test! <br> <br>Your personality: {{letter1}}{{letter2}}{{letter3}}{{letter4}} </h2>
				<h2>Use your results to sign up now!</h2><br>
				<a class="button" href="users/new">
					<span>sign up</span>
				</a>
			</div>
		</div>
	</div>


	<script>
	var link = document.querySelector('link[rel="import"]');
	var content = link.import;

    // Grab DOM from warning.html's document.
    var el = content.querySelector('.intro');
    document.body.appendChild(el.cloneNode(true));
    var el = content.querySelector('.books');
    document.body.appendChild(el.cloneNode(true));
    </script>


</body>
</html>